__pycache__/

# Ignore results because they are large and can be regenerated
*.h5
*.mat
*.npz
*.save

# Ignore loss files (already included in results .mat files)
*loss.npz

# Ignore the specific data files (these are large and should not be tracked)
data/raw/data_MRFDBF.mat

